@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height:100%; */
}

body {
    background-image: linear-gradient(to right,#1B7F7A, #4CABA6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(31, 70, 68, 0.459);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #0897B4;
text-align: center;
text-shadow: 1px 1px 2px rgba(5, 98, 117, 0.712);
}

h2 {
color: #4C4A59;
}

p {
    text-align: justify;
}